<app-navbar></app-navbar>
<div class="container overflow-hidden my-5">
  <div class="row gy-5">
    <div class="bd-callout bd-callout-warning">
      <h5 id="date--color-input-support">Listado de Pedidos...</h5>

      <p>
         </p>

    </div>

    <div>

 


<table datatable [dtOptions]="dtOptions" class="dataTable table row-border hover text-center" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cod pedido</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Cliente</th>
      <th scope="col">Fecha envio</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dat of pedidos; index as i">
      <th scope="row">{{i+1}}</th>
      <td><span class="badge rounded-pill text-bg-dark">2022#{{dat.id}}</span> </td>
      <td>{{dat.pe_prioridad}}</td>
      <td>{{dat.cliente.c_nombre}}</td>
      <td>{{dat.pe_fecha_entrega}}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Left</button>
          <button type="button" class="btn btn-primary">Middle</button>
          <button type="button" class="btn btn-primary">Right</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>

<app-footer></app-footer>