<app-navbar></app-navbar>
<div class="container overflow-hidden my-5">
  <div class="row gy-5">
    <div class="bd-callout bd-callout-warning">
      <h5 id="date--color-input-support">PRUEBA DESARROLLADOR DE SOFTWARE...</h5>

      <p>
        Una tienda de comercio electrónico tiene por entregar 15 pedidos, se cuenta con cierta cantidad de
        productos en inventario para cubrir las demandas de entrega y también se tiene una lista de
        proveedores que pueden abastecer los productos que no se encuentran en el inventario.
        Los pedidos deben tener una prioridad en la que deben ser alistados.
      </p>
      <p> Sebastian Carvajal</p>
    </div>

    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Accesos rápidos.</h4>
      <p>A continuacion encontraras los botones para acceder de manera rápida a las vistas del aplicativo.</p>
      <hr>

      <div class="row row-cols-auto">
        <div class="col"><a href="/pedidos" class="btn btn-primary">Pedidos</a></div>
        <div class="col"><a href="/productos" class="btn btn-primary">productos</a></div>
        <div class="col"><a href="/proveedores" class="btn btn-primary">proveedores</a></div>
      </div>

    </div>

  </div>
</div>

<app-footer></app-footer>
